name: Deploy

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true
      tag:
        type: string
        required: true
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        options:
          - production
        required: true
      tag:
        type: string
        required: true
        default: latest

jobs:
  app:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
      url: https://${{ vars.PUBLIC_DOMAIN }}/
    concurrency: ${{ inputs.environment }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Deploy the app
        uses: digitalocean/app_action/deploy@v2
        env:
          PUBLIC_DOMAIN: ${{ vars.PUBLIC_DOMAIN }}
          SUPABASE_URL: ${{ vars.SUPABASE_URL }}
          SUPABASE_ANON_KEY: ${{ secrets.SUPABASE_ANON_KEY }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          GHCR_TOKEN: ${{ secrets.GHCR_TOKEN }}
          OWNER: ${{ github.repository_owner }}
          TAG: ${{ inputs.tag }}
        with:
          project_id: b54954bb-9058-4363-b130-74b5194cad3b
          app_spec_location: .do/${{ inputs.environment }}.yaml
          token: ${{ secrets.DO_API_TOKEN }}

  migrations:
    needs: app
    uses: ./.github/workflows/migrations.yml
    secrets: inherit
    with:
      environment: ${{ inputs.environment }}

  # edge-functions:
  #   needs: app
  #   uses: ./.github/workflows/edge-functions.yml
  #   secrets: inherit
  #   with:
  #     environment: ${{ inputs.environment }}
