name: Release

on:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  publish:
    uses: ./.github/workflows/publish.yml
    secrets: inherit

  deploy:
    needs: publish
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
    with:
      environment: production
      tag: ${{ github.ref_name }}
